.App {
  text-align: center;
}

table{
  background-color: lightcoral;
  border: 5px solid lime;
  margin: 50px;
  border-collapse: collapse;
  width: 50%;

}
th,td{
  background-color: lightcoral;
  border: 5px solid lime;
}
caption{
  background-color: lightseagreen;
  
  
}